body{
    background-color:cyan;
}

$brand_primary:red;

$bottoni:green;

$sfondo:blue;

h1{
    color: $brand_primary;
}
h2{
    color: $sfondo;
}

p{
    color: $brand_primary;
}

button{
    color: $bottoni;
}
